<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
</head>

<body>
    <h1 class="center">
        The Questions
    </h1>
    <ul>

        <% for(let choice of choices) {%>
            <div>
                <% for(let q_heading of q_headings ) {%>
                    <ol>
                        <b>
                            <%=q_heading.q_heading %>
                        </b>
                    </ol>
                    <% } %>
            </div>
            <ul>
                <div>
                    <%=choice.choice1 %>
                </div>
                <div>
                    <%=choice.choice2 %>
                </div>
                <div>
                    <%=choice.choice3 %>
                </div>
                <div>
                    <%=choice.choice4 %>
                </div>
            </ul>
            <% } %>



                <a href="/">Cerate Question</a>


</body>

</html>